<% content_for :toolbar_links do %>
  <li><a href="<%= events_path %>">Back to all evens</a></li>
  <% if current_admin.has_role?("admin") %>
    <li><%= link_to "Delete this event", @event, method: :delete, data: { confirm: 'Are you sure?' }, class: "button delete_button" %></li>
  <% end %>
<% end %>

<h1>Edit <%= @event.name %></h1>
<%= render(:partial => "penn_station/events/form", :locals => {:event => @event}) %>
