<div id="image_picker">
  <%= form_tag "#", :style => "background: none;" do -%>
    <div class="section">
      <%= label_tag :url, "URL" %>
      <%= text_field_tag :url, params[:image_url] %>
      <%= label_tag :alt, "Description" %>
      <%= text_area_tag :alt, params[:image_alt] %>
    </div>
    <div class="section">
      <%= label_tag :align, "Image layout" %>
      <%= hidden_field_tag :align, params[:image_align] %>
      <div id="image_picker_align_image">
        <a href="#align_left"><img src="/assets/imagepicker/align_image_left.gif" alt="Align to the left of the text" /></a>
        <a href="#align_block"><img src="/assets/imagepicker/align_image_block.gif" alt="Align center, on its own line" /></a>
        <a href="#align_right"><img src="/assets/imagepicker/align_image_right.gif" alt="Align to the right of the text" /></a>
      </div>
      <div class="submit">
        <%= submit_tag "Insert image" %>
      </div>
    </div>
    <a href="#" class="close">close</a>
  <%- end -%>
  <div class="body">
    <div id="image_picker_gallery_list">
      <h2>Folders</h2>
      <ul>
      <%- @folders.each do |folder| -%>
        <li><%= link_to folder.name, image_picker_path(folder), :class => (folder.id == @folder_id ? "selected" : nil) %></li>
      <%- end -%>
      </ul>
    </div>
    <div id="image_picker_image_list">
      <%- (@uploaded_images || []).each do |uploaded_image| -%>
      <%= content_tag :div, :id => "uploaded_image_"+uploaded_image.id.to_s,
                            :class => "uploaded_image" + (uploaded_image.id == @image_id ? " selected" : '') do -%>
        <div class="image_thumb_box">
          <div class="image">
            <%= image_tag uploaded_image.file.url(:tiny), :alt => uploaded_image.caption %>
          </div>
          <div class="name">
            <%= uploaded_image.filename %>
          </div>
        </div>
        <ul class="image_size_selector">
          <li><a href="#tiny">tiny</a></li>
          <li><a href="#small">small</a></li>
          <li><a href="#medium">medium</a></li>
          <li><a href="#large">large</a></li>
          <li><a href="#x_large">extra large</a></li>
        </ul>
      <%- end -%>
      <%- end -%>
    </div>
  </div>
</div>
