<%- @uploaded_images.each do |uploaded_image| -%>
<%= content_tag :div, :id => "uploaded_image_"+uploaded_image.id.to_s,
                      :class => "uploaded_image" + (uploaded_image.id == @image_id ? " selected" : '') do -%>
  <div class="image_thumb_box">
    <div class="image">
      <%= image_tag uploaded_image.file.url(:tiny), :alt => uploaded_image.caption %>
    </div>
    <div class="name">
      <%= uploaded_image.filename %>
    </div>
  </div>
  <ul class="image_size_selector">
    <li><a href="#tiny">tiny</a></li>
    <li><a href="#small">small</a></li>
    <li><a href="#medium">medium</a></li>
    <li><a href="#large">large</a></li>
    <li><a href="#x_large">extra large</a></li>
  </ul>
<%- end -%>
<%- end -%>
