<%= form_for slide do |f| %>
  <% if slide.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in slide.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <a href="<%= slide.image.to_s %>" target="_blank"><img src="<%= slide.image.url(:thumb) %>"/></a>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :autofocus => (slide.new_record?) ? true : false %>
  </div>

  <div class="field">
    <%= f.label :caption %>
    <%= f.text_field :caption %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%=f.text_area :description , :id => "slide_#{slide.id}_description", :class => "tinymce", :rows => 20, :cols => 100 %>
  </div>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>

  <div class="field">
    <%= f.label :publish %>
    <%= f.check_box :publish, {}, slide.publish, false  %>
  </div>

  <div class="field">
    <%= f.label :position %>
    <%= f.text_field :position %>
  </div>

  <div class="actions"><%= f.submit 'Save' %></div>
<% end %>
