<%=form_for section do |f| %>
  <% if section.errors.any? %>
    <div class="error_messages">
      <ul>
        <% for message in section.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :page_id %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :autofocus => (section.new_record?) ? true : false %>
  </div>

  <div class="actions"><%= f.submit 'Save' %></div>
<% end %>
