<% content_for :toolbar_links do %>
  <li><a href="<%= pages_path %>">Back to all Pages</a></li>
  <li><a href="<%= edit_page_path(@page) %>">Back to '<%= @page.title %>'</a></li>
<% end %>

<%= render 'penn_station/shared/flash_messages' unless flash.empty? %>

<h1>Create a new <%= controller.controller_name.singularize %> for <%= @page.title %></h1>
<%= render(:partial => "penn_station/sections/form", :locals => {:section => @section}) %>
