<%= form_for folder do |f| %>
  <% if folder.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in folder.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :autofocus => (folder.new_record?) ? true : false %>
  </div>
  <div class="actions"><%= f.submit 'Save' %></div>

<% end %>

<% unless folder.new_record? %>
  <form action="/admin/uploaded_files?folder_id=<%= @folder.name %>" class="dropzone" style="border: 2px solid black; min-height: 200px;">
    <div class="dz-default dz-message"><span>Drag-and-drop files here to upload, or click to browse files</span></div>
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  </form>

  <ol class="uploaded_files_gallery">
    <% folder.uploaded_files.each do |fname| %>
        <li>
          <% if fname.content_type.include? 'image' %>
            <a href="<%= fname.file.to_s %>" target="_blank"><img src="<%= fname.file.url(:tiny) %>"/></a>
          <% else %>
            <a href="<%= fname.file.to_s %>" target="_blank"><%= File.basename(fname.file.to_s) %></a>
          <% end %>
          <%= link_to "Delete", fname, method: :delete, data: { confirm: 'Are you sure?' }, class: "obj_delete"  %>
          <%= link_to "Edit", edit_uploaded_file_path(fname), class: "obj_edit"  %>
        </li>
    <% end %>
  </ol>
<% end %>
