<% content_for :toolbar_links do %>
  <li><%= link_to "Back to all media", media_path, class: "button delete_button" %></li>
  <li><%= link_to "Delete this folder", @folder, method: :delete, data: { confirm: 'Are you sure?' }, class: "button delete_button" %></li>
<% end %>

<div id="<%= controller.controller_name %>">
  <h1>Edit <%= @folder.name %></h1>
  <%= render(:partial => "penn_station/folders/form", :locals => {:folder => @folder}) %>
</div>
