
<footer>
  <span>Center for Community Technology Services</span>
  <span class="separator">/</span>
  <span>PennStation CMS <%= PennStation::VERSION %></span>
  <span class="separator">/</span>
  <span>&copy; 2010-2013</span>
  <span class="separator">/</span>
  <span><a href="mailto:info@cctsbaltimore.org">info@cctsbaltimore.org</a></span>
</footer>
