<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= defined?(::ORGANIZATION) ? ::ORGANIZATION + '::' : "" %>PennStation</title>

    <!--[if IE ]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <%= stylesheet_link_tag "penn_station/application", media: "all" %>
    <%= stylesheet_link_tag "penn_station_blog/application", media: "all" if defined?(PennStationBlog) %>
    <%= stylesheet_link_tag "penn_station/client_penn_station_backend", media: "all" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="pennstation">
      <header>
        <div id="controls">
          <a id="site_link" href="/" title="Return to <%= defined?(::ORGANIZATION)  ? ::ORGANIZATION : '' %> website"><%= image_tag("logo_backend.png") %></a>

          <ul id="user">
            <li>You are logged in as <%= current_admin.name %></li>
            <li><%= link_to "My Account", penn_station.admin_path(current_admin) %> | <%= link_to "Sign Out", penn_station.logout_path %></li>
          </ul>
        </div>

        <div style="clear: both;">&nbsp;</div>

        <ul class="menu">
          <li class="<%= "current" if controller.controller_name == 'pages' %>"><%= link_to "Pages", penn_station.pages_path %></li>
          <li class="<%= "current" if controller.controller_name == 'media' %>"><%= link_to "Media", penn_station.media_path %></li>
          <li class="<%= "current" if controller.controller_name == 'admins' %>"><%= link_to "Users", penn_station.admins_path %></li>
          <li class="<%= "current" if controller.controller_name == 'activities' %>"><%= link_to "History", penn_station.activities_path %></li>
          <li class="<%= "current" if controller.controller_name == 'events' %>"><%= link_to "Events", penn_station.events_path %></li>
  <!--
          <li id="form_submission_pages">Form Submission<%#= link_to "Form Submissions", admin_form_submission_pages_path %></li>
  -->

          <% if defined?(PennStationBlog) %>
            <% is_current = [PennStationBlog::PostsController, PennStationBlog::CategoriesController].include?(controller.class) %>
            <li <%= 'class="current"'.html_safe if is_current %>><%= link_to "Blog", penn_station_blog.posts_path %></li>
          <% end %>

          <% if defined?(PennStation::CLIENT_MODELS) %>
            <% PennStation::CLIENT_MODELS.each do |cmodel| %>
              <li class="<%= "current" if controller.controller_name == cmodel.pluralize %>"><%= link_to cmodel.pluralize.humanize, eval("penn_station.#{cmodel.pluralize}_path") %></li>
            <% end %>
          <% end %>

          <li class="<%= "current" if controller.controller_name == 'analytics' %>"><%= link_to "Analytics", penn_station.analytics_path %></li>
        </ul>
      </header>

      <div id="workspaces">

        <div id="<%= @workspace %>" class="workspace">
          <ol id="penn_station_toolbar"><%= yield(:toolbar_links) %></ol>
          <%= render 'penn_station/shared/flash_messages' unless flash.empty? %>
          <%= yield %>
        </div>
      </div>
    </div>

    <%= render :partial => 'layouts/penn_station/footer' %>
  </body>

  <%= javascript_include_tag "penn_station/client_penn_station_backend" %>
  <%= javascript_include_tag "penn_station/application" %>

  <% if %w(new edit).include?(controller.action_name) %>
    <%= tinymce_assets %>
    <%= tinymce :content_css => '/assets/application.css' %>
  <% end %>

</html>
