<!DOCTYPE html>
<html>
  <head>
    <title>PennStation::Login</title>
    <%= stylesheet_link_tag    "penn_station/application", media: "all" %>
    <%= javascript_include_tag "penn_station/application" %>
    <%= csrf_meta_tags %>
  </head>

  <body id="pennstation">
    <%= yield %>
  </body>
</html>
