
#pennstation {
  form.edit_event,
  form#new_event {
    fieldset {
      margin-bottom: 15px;
    }

    fieldset#calendars {

      & > .field {
        h5 {
          float: left;
          margin: 0;
          padding: 0;
        }

        a {
          float: right;
        }

        div.calendars {
          clear: both;
          overflow: auto;

          .field {
             clear: both;

             input {
               margin-top: 10px;
               float: left;
             }

             label {
               float: left;
             }
           }
        }
      }
    }

    fieldset#event_dates {
      & > div {
        float: left;
        margin-right: 50px;
      }

      & div:last-child {
        float: left;
      }
    }
  }
}
