 @font-face {
   font-family: 'Gill Sans';
   src: font-url('gillsans.ttf');
 }

body {
  font-family: 'MyriadPro', sans-serif;
  font-size: 16px;
}

#pennstation {

  .menu {
    font-size: 1.75em;
    color: #444;
  }

  h1,h2 {
    font-size: 2.5093750250939997em;
    font-weight: bold;
    color: #1a94ec;
  }

  h3 {
    font-size: 2.5093750250939997em;
    color: #444;
  }

  h4 {
    font-size: 2.0075000200752em;
    color: #444;
  }

  header {
    #user {
    font-size: 16px;
      color: #fff;

      li:first-child {
        font-size: 0.75093750250939997em;
      }

      li:last-child {
        font-size: 1.2093750250939997em;
      }
    }
  }

  #panel_ops,
  #panel_tabs {
    font-weight: bold;
    font-size: 1.25em;
  }

  form,
  .index {
    font-size: 1.25em;
  }

  .index {
    .title-row {
      font-size: 1.0em;
    }
  }

  #pages_index {
    li.title {
      div:first-child {
        font-size: 1.33em;
      }
    }
  }

  .sortable {
    font-size: 1.75em;
  }

  footer {
    color: #fff;
    font-size: 1.33em;
  }
}

