
@import 'engine_variables';

footer {
  clear: both;
  margin: 0 auto;
  padding: 11px 0px;
  width: $total_width;

  line-height: normal;
  vertical-align: bottom;

  background: $footer_color;
  color: #fff;

  span {
    margin: 0 0 0 10px;
    padding: 0;
    text-align: center;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  span.separator {
    margin: 0 30px;
  }
}
