
@import 'engine_variables';

body {
  margin: 0;
  padding: 0;
}

#pennstation {
  margin: 0 auto;
  padding: 0;
  line-height: 1;
  font-size: 68.75%;
  font-family: Verdana, "Lucida Grande", "Lucida Sans Regular", "Lucida Sans", "Bitstream Vera Sans", sans-serif;
  max-width: $total_width;
  min-height: $min_height;

  header {
    line-height: normal;
    background: $header_color;
    margin: 0;
    padding: 10px 15px 0 15px;

    #controls {
      margin: 0 auto;
      padding: 0;

      #site_link {
        float: left;
        padding: 0;
        margin: 0;
      }

      #user {
        list-style:none;
        float: right;
        margin: 0;
        padding: 0;

        li {
          padding: 0 0 1px 12px;
          margin: 0 0 5px 0;
          color: #fff;

          a {
            text-decoration: none;
            color: #fff;
          }

          a:hover {
            text-decoration: none;
            color: #000;
          }
        }
      }
    }

    .menu {
      clear: both;
      background: $header_color;
      list-style: none;
      height: 28px;
      width: $total_width;
      width: 100%;
      margin: 0 auto;
      padding: 0;

      li {
        float: left;
        margin: 0 8px 0 5px;
        margin: 0 2px 0 2px;
        padding: 2px 15px;
        display: block;
        border: 1px solid #fff;
        color: #29323b;
        background-color: #fff;

        &:hover { background-color: $current_tab_color; }

        a {
          text-decoration: none;
          &:hover { color: #5c656e; }
        }

        &.current {
          background-color: $current_tab_color;
          border: 1px solid $current_tab_color;

          a {
            color: #444;
          }
        }
      }
    }
  }
}
