#image_picker_background {
  border: 1px solid #ccc;
  background-color: #fff;
}

#image_picker {
  font-size: 68.75%;
  font-family: Verdana, "Lucida Grande", "Lucida Sans Regular", "Lucida Sans", "Bitstream Vera Sans", sans-serif;
}

#image_picker .section {
  width: 275px;
  float: left;
  padding: 2px 10px 2px;
}

#image_picker .body {
  clear: left;
  border-top: 1px solid #ccc;
}

#image_picker .close {
  display: block;
  position: absolute;
  top: 2px;
  right: 2px;
  width: 50px;
  height: 20px;
  padding: 5px 0 0 20px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  background: transparent url(/assets/imagepicker/close_grey.png) no-repeat 0 3px;
}

#image_picker form {
  position: relative;
  width: 100%;
  float: left;
  background-color: #f0f0ee;
}
 
#image_picker label {
  margin: 0;
  padding: 0 0 2px;
}

#image_picker input[type=text], #image_picker textarea {
  width: 250px;
}

#image_picker input[type=text] {
  margin-bottom: 5px;
}

#image_picker textarea {
  height: 50px;
}

#image_picker .submit {
  clear: left;
  padding: 20px 0 0 0;
}

#image_picker_align_image a {
  display: block;
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 5px 0 0;
  border: 1px solid #f0f0ee;
}

#image_picker_align_image a.selected {
  border: 1px solid #0a246a;
  background-color: #b2bbd0;
}

#image_picker_gallery_list {
  float: left;
  width: 200px;
  height: 400px; /* should match image list */ 
  overflow: auto;
  border-right: 1px solid #ccc;
}

#image_picker_gallery_list h2 {
  padding: 5px 0 5px 10px;
}

#image_picker_gallery_list ul {
  list-style-type: none;
  margin: 0;
}

#image_picker_gallery_list li {
  padding: 0;
}

#image_picker_gallery_list li a {
  display: block;
  padding: 2px 0 2px 10px;
  font-weight: bold;
  text-decoration: none;
}

#image_picker_gallery_list li a:hover, #image_picker_gallery_list li a.selected {
  background-color: #f0f0ee;
}

#image_picker_image_list {
  float: left;
  width: 590px;
  height: 400px;
  overflow: auto;
}

#image_picker .uploaded_image {
  float: left;
  margin: 10px;
  text-align: center;
  position: relative;
}

#image_picker .uploaded_image.selected .image_thumb_box {
  border: 1px solid #ccc;
}

#image_picker .uploaded_image .image_thumb_box {
  width: 100px;
  padding: 3px;
  border: 1px solid #fff;
}

#image_picker .uploaded_image .image {
  min-height: 60px;
}

#image_picker .uploaded_image .name {
  padding: 3px 0;
  font-weight: bold;
}

#image_picker .image_size_selector {
  list-style-type: none;
  margin: 0;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 0 0 5px 0;
  background-color: #fff;
  width: 100px; /* match .uploaded_image width */
  padding: 3px;
  position: absolute;
  z-index: 1;
}

#image_picker .image_size_selector li {
  line-height: 135%;
}

