
@import 'engine_variables';

#pennstation {
  #workspaces {

   li.row {
     margin: 0;
     padding: 5px 0;
     //height: 2em;

     li:first-child {
       position:relative;

       img {
         padding-left: 10px;
         position: absolute;
         bottom: -3px;
       }

       img.normal { display: inline; border: none;}
       img.hover { display: none; border: none;}

       &:hover {
         img.normal { display: none; border: none;}
         img.hover { display: inline; border: none;}
       }
     }
   }

    /* Adjust column widths for each class's index. */

    ol#events_index {
      li.row {
        li.name { width: 450px;}
        li.status { width: 150px;}
        li.starts_at { width: 150px;}
        li.calendar { width: 350px;}
      }
    }

    ol#media_index {
      li.row {
        li.name { width: 450px; }
        li.media-type { width: 150px;}
        li.count { width: 175px; text-align: right;}
      }
    }

    ol#admins_index {
      li.row {
        li.name { width: 250px; }
        li.email { width: 350px; }
        li.published { width: 150px; }
        li.updated_at { width: 150px; }
        li.empty { width: 10px; }
      }
    }

    ol#activities_index {
      li.row {
        li.date { width: 230px; }
      }
    }

    ol#pages_index {
      li.title-row  {
        margin-bottom: 10px;

        ol {
          //height: 20px;
          margin: 0;
          padding: 0;

          li.title {
            width: 900px;
          }
        }
      }

      li.row {
        width: 100%;
        //height: 100%;

        li.title {
          margin: 0;
          padding: 5px 0 0 5px;
        }

        li.details {
          float: right;
          margin: 0;
          padding: 0;

          li { padding: 5px 0 0 5px; }

          li.page_type { width: 95px; }
          li.published { width: 75px; }
          li.updated_at { width: 145px; }

          &:after {
            clear: both;
          }
        }
      }
    }

    ol.index {
      list-style: none;
      margin: 0 0 20px 0;
      padding: 0 20px;

      li.odd {
        background-color: $zebra_stripe;
      }

      li.row {
        clear: both;

        ol {
          display: block;
          clear: both;
          margin: 0;
          padding: 3px;
          //height: 25px;
          list-style: none;

          li {
            float: left;
            margin: auto 0;
          }
        }

        ol.cols {
          margin: 5px 0;

          li {
            vertical-align: middle;

            a { text-decoration: none; }

            a:hover { text-decoration: underline; }
          }
        }
      }

      li.title-row {
        border-bottom: 1px solid #444;
        padding: 0;
        margin: 0 10 10px 0;
        vertical-align: bottom;

        ol {
          //height: 20px;
          padding: 0;
          margin: 0;
          background-color: white;
          color: $h2_color;

          li {
            padding: 0;
            margin: 0;
            vertical-align: middle;
          }

          li.title-row-col {
            width: 100px;
          }
        }
      }
    }
  }
}
