
@import 'engine_variables';

#pennstation {
  #panel_tabs {
    margin: 10px 0 0 0;
    padding: 0;
    float: left;
    width: 65%;

    li {
      width: 25%;
    }
  }

  #panel_ops {
    padding: 0;
    margin: 10px 0 0 0;
    float: right;
  }

  #panel_ops,
  #panel_tabs {

    li {
      display: block;
      float: left;
      margin: 0;
      padding: 0 25px;
      color: #fff;
      text-decoration: none;
      line-height: 1.75em;

      &.current,
      &:hover {
        color: black;
      }
    }

    #save {
      width: 155px;
      padding: 0;
      text-align: center;
      background-color: white;
      color: #29323b;
      border: 1px solid white;

      &:hover {
        border:  1px solid white;
        background-color: $current_tab_color;
      }
    }

    #save_and_preview {
      width: 155px;
      padding: 0;
      margin: 0 20px 0 14px;
      text-align: center;
      background-color: white;
      color: #29323b;
      border: 1px solid white;

      &:hover {
        border:  1px solid white;
        background-color: $current_tab_color;
      }
    }
  }

  #panel_buttons {
    float: right;

    li {
      float: left;
      height: 30px;
      margin: 0;
      padding: 0 3px 0 0;
      background: image_path("forms/tab_bullet.png") no-repeat top left;
      list-style: none;
    }
  }

  .panels {
    clear: both;
    margin: 0 20px;
    padding: 0;

    .panel {

      @import "content";

      display: inline;
      padding: 0 0 15px;

      a:hover { text-decoration: underline; }

      div {
        padding: 0 0 15px 0;
      }

      label {
        display: block;
        padding: 8px 0 4px;
        font-weight: bold;
        color: #333;
      }

      input[type=text], input[type=file], input[type=password], textarea, select {
        width: 340px;
        font-family: Verdana, "Lucida Grande", "Lucida Sans Regular", "Lucida Sans", "Bitstream Vera Sans", sans-serif;
        font-size: 1em;
      }

      .radio_buttons {

        div {
          position: relative;
        }

        .label {
          display: block;
          padding: 8px 0 4px;
          font-weight: bold;
          color: #333;
        }

        input[type=radio] {
          position: absolute;
          top: 1px;
          left: 2px;
          width: 15px;
          height: 13px;
          margin: 0;
          padding: 0;
        }

        label {
          padding: 3px 0 0 25px;
          font-weight: normal;
          color: #000;
        }
      }
    }
  }
}
