
@import 'engine_variables';

#penn_station_toolbar {
  font-size: 1.25em;
  width: $total_width;
  margin: 0;
  padding: 0 0 5px 0;
  line-height: normal;
  color: #444;
  background-color: $current_tab_color;
  overflow: auto;
  list-style: none;
  box-shadow: 0 5px 5px #888888;

  li {
    float: left;
    margin: 10px 8px 0 20px;
    padding: 0px 15px 2px 0;
    color: #29323b;
    height: 22px;

    a {
      display: block;
      padding: 0;
      margin: 8px 0 0 25px;
      text-decoration: none;
    }
  }

  li:hover {
    a { text-decoration: underline; }
  }

  li.admin {
    background: url(image_path("add_admin.png")) no-repeat ;
  }

  li.admin:hover {
    background: url(image_path("add_admin_over.png")) no-repeat ;
  }

  li.page {
    background: url(image_path("reorder_pages.png")) no-repeat ;
  }

  li.page:hover {
    background: url(image_path("reorder_pages_over.png")) no-repeat ;
  }
}
