
@import 'engine_variables';

#pennstation {
  #workspaces {
    clear: both;
    margin: 0;

    a:hover { text-decoration: underline; }

    #flash_messages {
      margin: 10px 0;
      border: green;
      background-color: #77FF77;

      .flash {
        margin: 0 0 15px 0;
        border-width: 1px;
        border-style: solid;
        padding: 4px;
      }
    }

    h1 {
      margin-left: 20px;
      padding: 0 0 5px 0;
      color: $h1_color;
    }

    header {
      width: 1000px;
      height: 20px;
      padding: 0;
      background: image_path("forms/form.top.png") no-repeat top left;
    }

    form {
      width: 760px;
      margin-left: 20px;
      padding: 0 0 20px 0;
      background: image_path("forms/form.bottom.png") no-repeat top left;

      .field {
        margin-bottom: 20px;

        label {
          display: block;
          padding: 8px 0 4px;
          font-weight: bold;
          color: #333;
        }

        input,
        textarea {
          width: 90%;
        }
      }

      div.multiline-input {
        label {
          vertical-align: top;
        }

        select {
          width: 90%;
        }
      }

      input.checkbox {
        width: auto;
      }
    }

    .workspace {
      width: 100%;
      margin: 0 auto;

      header#panels {
        padding: 0;
        margin: 0 0 0 20px;
        height: 100%;
      }
    }
  }
}
