
<%= form_for calendar do |f| %>
  <div>
    <h3>Events</h3>
    <%# calendar.scheduled_events.each do |scheduled_event| %>
      <%= render(:partial => "penn_station/scheduled_events/index", :locals => {:scheduled_events => calendar.scheduled_events}) %>
    <%# end %>
  </div>
<% end %>
