<% if page.errors.any? %>
  <div class="error_messages">
    <h2>Form is invalid</h2>
    <ul>
      <% for message in page.errors.full_messages %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render(:partial => "penn_station/pages/panels_header", :locals => {:sections => page.sections}) %>

<div class="panels" data-pennstation-ptype="<%= @page.ptype %>">
  <%= render(:partial => "penn_station/pages/properties_panel", :locals => {:page => page}) %>

  <% page.sections.each do |section| %>
    <div id="<%= section.name.gsub(/\s/,'_') %>_panel" class="panel" style="display: none;">

      <% begin %>
        <%= render(:partial => "penn_station/pages/#{section.name.gsub(/\s/,'_')}_panel", :locals => {:page => page, :section => section}) %>
      <% rescue %>
        <%= render(:partial => "penn_station/pages/sections_panel", :locals => {:page => page, :section => section}) %>
      <% end %>

      <form action="/admin/uploaded_files?folder_id=<%= @page.url[1..-1] %>" class="dropzone" style="border: 2px solid black; min-height: 200px;">
        <div class="dz-default dz-message"><span>Drag-and-drop files here to upload, or click to browse files</span></div>
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
      </form>

      <ol style="clear: both;" class="uploaded_files_gallery">
        <% folder = PennStation::Folder.where(name: @page.url.gsub('/','')).first %>
        <% if folder.present? %>
          <% folder.uploaded_files.each do |fname| %>
            <li>
              <% if fname.content_type.include? 'image' %>
                <a href="<%= fname.file.to_s %>" target="_blank"><img src="<%= fname.file.url(:tiny) %>"/></a>
              <% else %>
                <a href="<%= fname.file.to_s %>" target="_blank"><%= File.basename(fname.file.to_s) %></a>
              <% end %>
              <div class="obj_delete">X</div>
            </li>
          <% end %>
        <% end %>
      </ol>
    </div>
  <% end %>

  <% page.calendars.each do |calendar| %>
    <div id="<%= calendar.name.gsub(/\s/,'_') %>_panel" class="panel" style="display: none;">

      <% begin %>
        <%= render(:partial => "penn_station/pages/#{calendar.name.gsub(/\s/,'_')}_panel", :locals => {:page => page, :calendar => calendar}) %>
      <% rescue %>
        <%= render(:partial => "penn_station/pages/calendars_panel", :locals => {:page => page, :calendar => calendar}) %>
      <% end %>
    </div>
  <% end %>
</div>
