<header id="panels">
  <ul id="panel_tabs">
    <% unless sections.empty? %>
      <li data-panel-id="properties_panel" class="current">Properties</li>

      <% sections.each do |section| %>
        <li id="<%= section.name %>_section" data-panel-id="<%= section.name %>_panel"><%= section.name.capitalize %></li>
      <% end %>

      <% @page.calendars.each do |calendar| %>
        <li id="<%= calendar.name %>_calendar" data-panel-id="<%= calendar.name %>_panel"><%= calendar.name %></li>
      <% end %>
    <% end %>
  </ul>

  <ul id="panel_ops">
    <li id="save">Save</li>
    <li id="save_and_preview">Save and Preview</li>
  </ul>

  <div style="clear: both;">&nbsp</div>
</header>
