<div id="properties_panel" class="panel current">
<%=form_for page do |f| %>
  <%#= f.error_messages %>
  <%= f.hidden_field :parent_url %>

  <div>
    <%=f.label :title %>
    <%=f.text_field :title, :autofocus => (page.new_record?) ? true : false %>
  </div>

  <% if current_admin.has_role?("pennstation_admin") %>
    <div>
      <%=f.label :ptype, 'Page Type' %>
      <%=f.text_field :ptype %>
    </div>
  <% end %>

  <% unless page.new_record? %>
    <div class="radio_buttons">
      <span class="label">Show in Navigation Menu?</span>
      <div>
        <%= f.radio_button :show_in_nav, "1", :checked => page.show_in_nav %>
        <%=f.label :show_in_nav, "Yes"%>
      </div>

      <div>
        <%= f.radio_button :show_in_nav, "0", :checked => !page.show_in_nav %>
        <%=f.label :show_in_nav, "No"%>
      </div>
    </div>

    <div class="radio_buttons">
      <span class="label">Publication status</span>
      <div>
        <%= f.radio_button :published, "1", :checked => page.published %>
        <%=f.label :published, "Published (visible to everyone)"%>
      </div>

      <div>
        <%= f.radio_button :published, "0", :checked => !page.published %>
        <%=f.label :published, "Draft (only visible to editors)"%>
      </div>
    </div>

    <div id="seo_properties">
      <div>
        <%=f.label :seo_title %>
        <%= f.text_field :seo_title %>
      </div>
      <div>
        <%=f.label :seo_keywords %>
        <%= f.text_field :seo_keywords %>
      </div>
      <div>
        <%=f.label :seo_description %>
        <%= f.text_area :seo_description, :style => "height: 50px;"%>
      </div>
    </div>
  <% end %>
<% end %>
</div>
