<% unless node.nil? %>
  <% page = node.content %>
  <li id="page_<%= page.id %>" class="row">
    <div><%= page.title %></div>
    <% if node.children.size > 0 %>
      <% node.children.sort_by{|s| s.content.position}.map do |child| %>
      <ol>
        <%= render(:partial => "penn_station/pages/reorder_page_index_row", :locals => {:node => child}) %>
      </ol>
      <% end %>
    <% end %>
  </li>
<% end %>
