<%=form_for section do |f| %>
  <%= f.hidden_field :page_id %>
  <%= f.hidden_field :name %>
  <div>
    <%=f.text_area :content , :id => "#{section.name}_content", :class => "tinymce", :rows => 40, :cols => 100 %>
    <div class="moreinfolink" style="display: none;">
      <%=f.label :moreinfo_url, 'More info url' %>
      <%= f.text_field :moreinfo_url %>
    </div>
  </div>
<% end %>
