<% content_for :toolbar_links do %>
  <li><a href="<%= pages_path %>">Back to all Pages</a></li>
  <li><%= link_to "Delete this page", @page, method: :delete, data: { confirm: 'Are you sure?' }, class: "button delete_button" %></li>
  <% if current_admin.has_role?("pennstation_admin") %>
    <li><%= link_to "Add new section", new_section_path(page_id: @page.id) %></li>
    <% @page.sections.each do |section| %>
      <% next if section.name == 'main' %>
      <li><%= link_to "Edit section #{section.name}", edit_section_path(section,page_id: @page.id) %></li>
      <li><%= link_to "Delete section #{section.name}", section, method: :delete, data: { confirm: 'Are you sure?' }, class: "button delete_button" %></li>
    <% end %>
    <li><%= link_to "Add new calendar", new_calendar_subscription_path(page_id: @page.id) %></li>
  <% end %>
<% end %>

<div id="<%= controller.controller_name %>">
  <h1>Edit <%= @page.title %></h1>
  <%= render(:partial => "penn_station/pages/form", :locals => {:page => @page}) %>
</div>
