<%= page_tree_for_link_picker(@pages.root) %>

<script type="text/javascript">
$('#internal_list a').each(function(idx, link){
  var href = link.href.replace(window.location.protocol + '//' + window.location.host,'');
  if($('#internal_href').val() == href) $(link).addClass('current');
  $(link).click(function(e){
    $('#internal_href').val(href);
    $('#internal_list a').removeClass('current');
    $(this).addClass('current');
    return false; // equivalent to e.preventDefault() + e.stopPropagation()  
  });
});
</script>
