<% content_for :toolbar_links do %>
  <li><%= link_to "Back to all media", media_path, class: "button delete_button" %></li>
<% end %>

<h1>Create a new slideshow</h1>
<%= render(:partial => "penn_station/slideshows/form", :locals => {:slideshow => @slideshow}) %>
