body {
margin: 10px;
width: 480px;
height: 355px;
}

h1 {
margin: 0 0 10px 0;
padding: 0;
font-size: 14px;
line-height: 18px;
}
form {
margin: 0;
}



.panel_wrapper {
clear: both;
height: 265px;
}
.panel_wrapper div.current {
height: 265px;
}

.panel h2 {
margin-bottom: 10px !important;
font-size: 13px;
line-height: 1em !important;
}
.panel p {
margin: 0 0 10px 0;
line-height: 1.2em;
}

.panel label, .panel input {
font-size: 12px;
}
.panel label {
display: block;
margin-right: 10px;
padding: 3px 0;
}
.panel input {
width: 280px;
padding: 3px;
}

.column {
float: left;
}
.clears {
clear: both;
font-size: 0px;
line-height: 0px;
}
.notes {
font-size: 10px;
color: #333;
}


.list {
width: 100%;
height: 185px;
overflow: auto;
border: 1px solid #ddd;
margin: 0;
padding: 0;
}
.list ul {
margin-right: 2px;
}
.list ul, .list li {
margin: 0;
padding: 0;
list-style-type: none;
}
.list a {
display: block;
margin-right: 1px;
border: none;
border-top: 1px solid #fff;
border-bottom: 1px solid #fff;
padding: 3px;
text-decoration: none;
}
.list ul ul a             { padding-left:  25px; }
.list ul ul ul a          { padding-left:  50px; }
.list ul ul ul ul a       { padding-left:  75px; }
.list ul ul ul ul ul a    { padding-left: 100px; }
.list ul ul ul ul ul ul a { padding-left: 125px; }

.list a.current, .list a.current:hover {
border-top: 1px solid #e2e58b;
border-bottom: 1px solid #e2e58b;
background: #f5f8a0;
}
.list a:hover {
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
background: #f3f3f3;
}

.processing {
width: 40px;
height: 40px;
margin: 50px auto 0 auto;
background: url(/images/admin/processing.gif) no-repeat center center;
}
