
@import 'variables';

/* pennstation toolbar. */

#toolbar {
  max-width: $max_width;
  margin: 0 auto;
  background-color: #0082a1;
  height: 2.25em;

  ul#buttons {
    float: left;
    margin: 10px;
    list-style: none;

    li {
      float: left;
      margin-right: 25px;
    }
  }

  ul#links {
    float: right;
    margin: 10px;
    list-style: none;

    li {
      float: left;
      margin-left: 25px;
    }
  }

  a {
    color: #ccc;
  }
}

header {
  max-width: $max_width;
  margin: 30px auto 0 auto;
}
