
@import 'variables';

nav {
  overflow: auto;
  width: 100%;

  ol {
    list-style: none;
    float: right;
    display: inline-block;
    margin: 0;
    padding: 0 0 1px 0;

    li {
      float: left;

      a {
        text-decoration: none;
      }
    }
  }
}

nav#primary {
  max-width: $max_width;
  margin: 0 auto;
  padding: 0;

  li {
    margin: 0;
    padding: 10px 15px 5px 15px;

    &:last-child {
      border: none;
    }

    &:hover {
      background-color: black;

      a {
        color: white;
      }
    }
  }

  li.current {
    padding: 10px 15px 5px 15px;
    background-color: red;

    a {
      color: white;
    }
  }

  li.nav-separator {
    border: 1px solid #444;
    margin: 10px 0 0 0;
    padding: 0px 0px;
    height: 1em;
  }
}

nav#secondary {
  min-height: 30px;
  background-color: #ccc;

  div {
  max-width: $max_width;
  margin: 0 auto;
  padding: 0;

    ol  {
      padding: 0;
      margin: 0;

      li {
        padding: 10px 15px;
        margin: 0;

        a {
          padding: 0;
          margin: 0;
          color: white;
        }

        &:hover {
          a {
            color: red;
          }
        }
      }

      li.nav-separator {
        border: 1px solid white;
        margin: 10px 0 0 0 ;
        padding: 0px 0px;
        height: 1em;
      }
    }
  }
}

div#breadcrumbs {
  margin: 20px 0 10px 0;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

