<%= form_for uploaded_file do |f| %>
  <% if uploaded_file.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in uploaded_file.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <a href="<%= uploaded_file.file.to_s %>" target="_blank"><img src="<%= uploaded_file.file.url(:tiny) %>"/></a>
  </div>

  <div class="field">
    <%= f.label :label %>
    <%= f.text_field :label, :autofocus => (uploaded_file.new_record?) ? true : false %>
  </div>

  <div class="field">
    <%= f.label :caption %>
    <%= f.text_field :caption %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%=f.text_area :description , :id => "uploaded_file_#{uploaded_file.id}_description", :class => "tinymce", :rows => 20, :cols => 100 %>
  </div>

  <div class="actions"><%= f.submit 'Save' %></div>
<% end %>
