<% content_for :toolbar_links do %>
  <% if current_admin.has_role?("admin") %>
    <li class="event"><a href="<%= new_scheduled_event_path %>">Add a new event</a></li>
  <% end %>
<% end %>

<h1>Manage events</h1>

<ol id="<%= controller.controller_name %>_index" class="index">
  <li class="title-row row">
    <ol class="">
      <li class="name">Name</li>
      <li class="status">Status</li>
      <li class="starts_at">Starts At</li>
      <li class="calendar">Calendar</li>
    </ol>
  </li>

  <% @events.each do |event| %>
<%# binding.pry %>
<% next if event.scheduled_events.empty? %>
    <li id="<%= event.id %>" class="row <%= cycle("even", "odd") -%>">
      <ol class="cols">
        <li class="name"><a href="<%= edit_scheduled_event_path(event.scheduled_events[0]) %>"><%= event.name %> <%= image_tag("edit.png") %></a></li>
        <li class="status"><%= event.scheduled_events[0].status %></li>
        <li class="starts_at"><%= event.scheduled_events[0].starts_at %></li>
        <li class="calendar"><%= event.scheduled_events.map{|se| se.calendar.name}.join(",") %></li>
      </ol>
    </li>
  <% end %>
</ol>
