<% content_for :toolbar_links do %>
  <li><a href="<%= scheduled_events_path %>">Back to all events</a></li>
<% end %>

<h1>Create a new event</h1>
<%= render(:partial => "penn_station/scheduled_events/form", :locals => {:scheduled_event => @scheduled_event}) %>
