<% analytics_user = Legato::User.new(@access_token) %>
<% profile = analytics_user.profiles.select {|prof| prof.web_property_id == @analytics_setting.tracking_id}.first %>

<% start_date = Date.new(params[:start_date][:year].to_i, params[:start_date][:month].to_i, params[:start_date][:day].to_i) %>
<% end_date = Date.new(params[:end_date][:year].to_i, params[:end_date][:month].to_i, params[:end_date][:day].to_i) %>


<p id="ga_info"><%= profile.web_property_id %> <%= profile.name %><span style="font-weight: bold; margin-left: 20px;">period: </span><%= "#{start_date.to_date.to_formatted_s(:long)} to #{end_date.to_formatted_s(:long)}" %></p>

<h4>Top Page Views</h4>
<table>
  <tr>
    <th>page</th>
    <th>views</th>
  </tr>
  <% PageView.results(profile, :sort => "-pageviews", :start_date => start_date, :end_date => end_date, :limit => 25).each do |pview| %>
  <tr>
    <td><%= pview.pagePath %></td>
    <td><%= pview.pageviews %></td>
  </tr>
  <% end %>
</table>

<h4>Searches By Keyword</h4>
<table>
  <tr>
    <th>keyword</th>
    <th>number of searches</th>
  </tr>
  <% SearchesByKeyword.results(profile, :sort => "-organicSearches", :start_date => start_date, :end_date => end_date, :limit => 25).each do |searches| %>
  <tr>
    <td><%= searches.keyword %></td>
    <td><%= searches.organicSearches %></td>
  </tr>
  <% end %>
</table>

<h4>Top Referrers</h4>
<table>
  <tr>
    <th>referrer</th>
    <th>number of visitors</th>
  </tr>
  <% VisitorsByReferrer.results(profile, :start_date => start_date, :end_date => end_date, :limit => 25).each do |visitors| %>
  <tr>
    <td><%= visitors.fullReferrer %></td>
    <td><%= visitors.visitors %></td>
  </tr>
  <% end %>
</table>

<h4>Visitors By Device</h4>
<table>
  <tr>
    <th>device</th>
    <th>number of visitors</th>
  </tr>
  <% VisitorsByDevice.results(profile, :start_date => start_date, :end_date => end_date).each do |visitors| %>
  <tr>
    <td><%= visitors.deviceCategory %></td>
    <td><%= visitors.visitors %></td>
  </tr>
  <% end %>
</table>

<h4>Visitors By Browser</h4>
<table>
  <tr>
    <th>browser</th>
    <th>version</th>
    <th>number of visitors</th>
  </tr>
  <% VisitorsByBrowser.results(profile, :sort => "-visitors", :start_date => start_date, :end_date => end_date, :limit => 25).each do |visitors| %>
  <tr>
    <td><%= visitors.browser %></td>
    <td><%= visitors.browserVersion %></td>
    <td><%= visitors.visitors %></td>
  </tr>
  <% end %>
</table>

<h4>Visits By Week of Year</h4>
<table>
  <tr>
    <th>week</th>
    <th>number of visitors</th>
  </tr>
  <% VisitorsByWeek.results(profile, :start_date => start_date, :end_date => end_date).each do |visitors| %>
  <tr>
    <td><%= visitors.week %></td>
    <td><%= visitors.visitors %></td>
  </tr>
  <% end %>
</table>

<h4>Visitors Via Social Networks</h4>
<table>
  <tr>
    <th>social network</th>
    <th>number of visitors</th>
  </tr>
  <% VisitorsBySocialNetwork.results(profile, :start_date => start_date, :end_date => end_date).each do |visitors| %>
  <tr>
    <td><%= visitors.socialNetwork %></td>
    <td><%= visitors.visitors %></td>
  </tr>
  <% end %>
</table>


