<style>
#analytics {padding: 0 20px 30px 20px;}
#analytics p {font-size: 1.25em}
#analytics h4 {margin-top: 35px; margin-bottom: 15px;}
#analytics a.ga-link {float: right; display: block; font-size: 1.25em; margin-top: 5px; color: #fff; font-weight: bold;}
#analytics #loading {height: 25px; font-size: 1.25em; padding-left: 5px; padding-top: 5px;}
#pennstation #workspaces #analytics header {padding: 5px 10px 10px 10px; width: auto;}
#pennstation #workspaces #analytics header span {color: #fff; font-size: 1.25em;}
#pennstation #workspaces #analytics header form {color: #fff; width: auto; display: inline; margin-left: 30px;}
#pennstation #workspaces #analytics header form {color: #fff; width: auto; display: inline; margin-left: 25px;}
#pennstation #workspaces #analytics header form label {margin-left: 5px;}
#analytics p#ga_info {margin-top: 5px;}
#analytics_data table td {padding-right: 10px; font-size: 12px;}
</style>


<% if @analytics_setting %>
  <% if current_admin.has_role?("admin","pennstation_admin") %>
    <% content_for :toolbar_links do %>
      <li><%= link_to "Edit analytics settings", edit_analytic_path(@analytics_setting) %></li>
    <% end %>
  <% end %>
<% end %>


<h1>Google Analytics summary</h1>

<div id="analytics">

<% if @analytics_setting.nil? %>
  <% if current_admin.has_role?("admin","pennstation_admin") %>
    <%= render :partial => 'form_new' %>
  <% else %>
    <p>Analytics module has not been configured. See administrator.</p>
  <% end %>

<% elsif @analytics_setting.tracking_id.blank? %>
  <p>Enter your Google Analytics tracking id and tracking code</p>
  <%= render :partial => 'form' %>

<% else %>
<!--  <div id="analytics_id" data-id="<%= @analytics_setting.id %>"></div> -->

  <% @start_date = 30.days.ago %>
  <% @end_date = Date.today() %>

  <header>
    <span>Tracking id: <%= @analytics_setting.tracking_id %></span>
    <%= form_tag "/admin/analytics/#{@analytics_setting.id}", :method => :get, :remote => true, :onsubmit => "jQuery('#loading_indicator').show(); return false;" do %>
      <label>start:</label>
      <%= select_date @start_date, {order: [:month, :day, :year], prefix: "start_date"} %>
      <label>end:</label>
      <%= select_date @end_date, {order: [:month, :day, :year], prefix: "end_date"} %>
      <%= submit_tag "Go", :style => "margin-left: 10px;" %>
    <% end %>
    <a class="ga-link" target="_blank" href="https://www.google.com/analytics/web/?hl=en">all Google Analytics</a>
  </header>

  <div id="loading"><div id="loading_indicator" style="display: none;"><%= image_tag('spinner.gif') %> Loading...</div></div>
  <div id="analytics_data"></div>
<% end %>

</div>

