
<div id="admin_login" class="modalDialog">
  <div>
    <a href="/" title="Close" class="close">X</a>

    <h1>PennStation Login</h1>

    <%= render 'penn_station/shared/flash_messages' unless flash.empty? %>

    <%= form_tag sessions_path do %>
      <div class="field">
        <%= label_tag :email %>
        <%= text_field_tag :email, params[:email], :autofocus => true %>
      </div>

      <div class="field">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>

      <div id="password_reset"><%= link_to "Forgot your password?", '/' %></div>
      <div style="clear: both;"></div>

      <div class="actions"><%= submit_tag "Log in" %></div>
    <% end %>
  </div>
</div>
