<%= form_for calendar_subscription do |f| %>
  <% if calendar_subscription.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in calendar_subscription.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :calendar_id, 'Existing calendar' %>
    <%= select("", "calendar_id", PennStation::Calendar.all.order('name').collect {|p| [ p.name, p.id ] } ) %>
    <%#= f.text_field :calendar_id %>
  </div>

  <div class="field">
    <%= f.label :calendar_name, 'New calendar name' %>
    <%= text_field_tag 'calendar_name' %>
  </div>

  <%= f.hidden_field :page_id %>

  <div class="actions"><%= f.submit 'Save' %></div>
<% end %>
