<% content_for :toolbar_links do %>
  <li><%= link_to "Back to all calendar_subscriptions", calendar_subscriptions_path, class: "button delete_button" %></li>
  <li><%= link_to "Delete this calendar_subscription", @calendar_subscription, method: :delete, data: { confirm: 'Are you sure?' }, class: "button delete_button" %></li>
<% end %>

<div id="<%= controller.controller_name %>">
  <h1>Edit <%= @calendar_subscription.name %></h1>
  <%= render(:partial => "penn_station/calendar_subscriptions/form", :locals => {:calendar_subscription => @calendar_subscription}) %>
</div>
