
<% content_for :toolbar_links do %>
  <li><%= link_to "Add a new calendar_subscription", new_calendar_subscription_path %></li>
<% end %>

<h1>Manage media</h1>

<ol id="<%= controller.controller_name %>_index" class="index">
  <li class="title-row row">
    <ol class="">
      <li class="name">Name</li>
      <li class="count">Number of Files</li>
    </ol>
  </li>

  <% @calendar_subscriptions.each do |calendar_subscription| %>
    <li id="<%= calendar_subscription.id %>" class="row  <%= cycle("even", "odd") -%>">
      <ol class="cols">
        <li class="name"><a href="<%= edit_calendar_subscription_path(calendar_subscription) %>"><%= calendar_subscription.name %> <%= image_tag("edit.png") %></a></li>
        <li class="count"><%= calendar_subscription.uploaded_files.count %></li>
      </ol>
    </li>
  <% end %>
</ol>
