<% if @calendar_subscriptions.empty? %>
<p>There are currently no uploaded files in the CMS</p>
<% else %>
<ul>
  <% @calendar_subscriptions.each do |calendar_subscription| %>
  <li class="file-calendar_subscription"><%= calendar_subscription.name %>
      <%= content_tag :ul, calendar_subscription.uploaded_files.map {|file| content_tag :li, link_to(File.basename(file.file.to_s), file.file.to_s, :class => '')}.join.html_safe %>
  </li>
  <% end %>
</ul>

<script type="text/javascript">
$('#uploaded_file_list a').each(function(idx, link){
  var href = link.href.replace(window.location.protocol + '//' + window.location.host,'');
  if($('#uploaded_file_href').val() == href) $(link).addClass('current');
  $(link).click(function(e){
    $('#uploaded_file_href').val(href);
    $('#uploaded_file_list a').removeClass('current');
    $(this).addClass('current');
    return false; // equivalent to e.preventDefault() + e.stopPropagation()
  });
});

<% end %>
