<% content_for :toolbar_links do %>
  <li><%= link_to "Back to all calendar_subscriptions", calendar_subscriptions_path, class: "button delete_button" %></li>
<% end %>

<h1>Create a new calendar_subscription</h1>
<%= render(:partial => "penn_station/calendar_subscriptions/form", :locals => {:calendar_subscription => @calendar_subscription}) %>
