<%= form_for calendar do |f| %>
  <% if calendar.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in calendar.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :autofocus => (calendar.new_record?) ? true : false %>
  </div>

  <div class="actions"><%= f.submit 'Save' %></div>
<% end %>

