
<% content_for :toolbar_links do %>
  <li><%= link_to "Add a new calendar", new_calendar_path %></li>
<% end %>

<h1>Manage calendars</h1>

<ol id="<%= controller.controller_name %>_index" class="index">
  <li class="title-row row">
    <ol class="">
      <li class="name">Name</li>
    </ol>
  </li>

  <% @calendars.each do |calendar| %>
    <li id="<%= calendar.id %>" class="row  <%= cycle("even", "odd") -%>">
      <ol class="cols">
        <li class="name">
            <a href="<%= edit_calendar_path(calendar) %>"><%= calendar.name %>
              <%= image_tag("edit.png", class: "normal") %>
              <%= image_tag("edit_over.png", class: "hover") %>
            </a>
          </li>
      </ol>
    </li>
  <% end %>
</ol>
