
<% content_for :toolbar_links do %>
  <li><%= link_to "Add a new folder", new_folder_path %></li>
  <li><%= link_to "Add a new slideshow", new_slideshow_path %></li>
<% end %>

<h1>Manage media</h1>

<ol id="<%= controller.controller_name %>_index" class="index">
  <li class="title-row row">
    <ol class="">
      <li class="name">Name</li>
      <li class="media-type">Type</li>
      <li class="count">Number of Files</li>
    </ol>
  </li>

  <% @media.each do |medium| %>
    <li id="<%= medium.class.name.split(':')[2].downcase + '_' + medium.id.to_s %>" class="row  <%= cycle("even", "odd") -%>">
      <% if medium.class.name == "PennStation::Folder" %>
        <ol class="cols">
          <li class="name">
            <a href="<%= edit_folder_path(medium) %>"><%= medium.name %>
              <%= image_tag("edit.png", class: "normal") %>
              <%= image_tag("edit_over.png", class: "hover") %>
            </a>
          </li>
          <li class="media-type">Folder</li>
          <li class="count"><%= medium.uploaded_files.count %></li>
        </ol>
      <% end %>

      <% if medium.class.name == "PennStation::Slideshow" %>
        <ol class="cols">
          <li class="name"><a href="<%= edit_slideshow_path(medium) %>"><%= medium.name %> <%= image_tag("edit.png") %></a></li>
          <li class="media-type">Slideshow</li>
          <li class="count"><%= medium.slides.count %></li>
        </ol>
      <% end %>
    </li>
  <% end %>
</ol>
