<h1>Activity list</h1>

<ol id="<%= controller.controller_name %>_index" class="index">
  <li class="title-row row">
    <ol class="cols">
      <li class="date">Date</li>
      <li class="activity">Activity</li>
    </ol>
  </li>

  <% @activities.each do |activity| %>
    <li id="<%= activity.id %>" class="row  <%= cycle("even", "odd") -%>">
      <ol class="cols">
        <li class="date"><%= activity.created_at.strftime("%Y-%m-%d %I:%M:%S %P %Z") %></li>
        <li class="activity"><%= activity.message %></li>
        <li style="clear: both;"></li>
      </ol>
    </li>
  <% end %>
</ol>
