<%= form_for admin do |f| %>
  <% if admin.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in admin.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :autofocus => (admin.new_record?) ? true : false %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.label :role, "Roles" %>
    <div class="roles">
      <%= f.fields_for :roles do |r| %>
        <div class="field">
          <%= r.check_box :name, { checked: r.object.persisted?, :disabled => (current_admin.has_role?(r.object.name) ? false : true)}, r.object.name, false  %>
          <%= r.label r.object.name %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="actions"><%= f.submit 'Save' %></div>
<% end %>

