<% content_for :toolbar_links do %>
  <li><a href="<%= admins_path %>">Back to all administrators</a></li>
  <% if current_admin.has_role?("admin") %>
    <li><%= link_to "Delete this administrator", @admin, method: :delete, data: { confirm: 'Are you sure?' }, class: "button delete_button" %></li>
  <% end %>
<% end %>

<h1>Edit <%= @admin.name %></h1>
<%= render(:partial => "penn_station/admins/form", :locals => {:admin => @admin}) %>
