<% content_for :toolbar_links do %>
  <% if current_admin.has_role?("admin") %>
    <li class="admin"><a href="<%= new_admin_path %>">Add a new administrator</a></li>
  <% end %>
<% end %>

<h1>Manage site administrators</h1>

<ol id="<%= controller.controller_name %>_index" class="index">
  <li class="title-row row">
    <ol class="">
      <li class="name">Name</li>
      <li class="email">Email</li>
      <li class="updated_at">Last Updated</li>
    </ol>
  </li>

  <% @admins.each do |admin| %>
    <li id="<%= admin.id %>" class="row <%= cycle("even", "odd") -%>">
      <ol class="cols">
        <li class="name">
            <a href="<%= edit_admin_path(admin) %>"><%= admin.name %>
              <%= image_tag("edit.png", class: "normal") %>
              <%= image_tag("edit_over.png", class: "hover") %>
            </a>
          </li>
        <li class="email"><%= admin.email %></li>
        <li class="updated_at"><%= admin.updated_at.to_s %><%#= formatted_date_and_time(page.updated_at).humanize %></li>
      </ol>
    </li>
  <% end %>
</ol>
