<% content_for :toolbar_links do %>
  <li><a href="<%= admins_path %>">Back to all administrators</a></li>
<% end %>

<h1>Create a new administrator</h1>
<%= render(:partial => "penn_station/admins/form", :locals => {:admin => @admin}) %>
