
<%= render :partial => 'layouts/secondary_nav' %>

<div id="content">
  <%= breadcrumb_trail(@page, {id: 'breadcrumbs'}) unless @page.home_page? %>

  <div id="main">
    <%= yield :main %>
  </div>
</div>
