<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <%= favicon_link_tag 'favicon.ico' %>

    <title><%= defined?(::ORGANIZATION) ? ::ORGANIZATION : "" %></title>

    <%= seo_meta_tags unless @page.nil? %>

    <%= stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true %>

    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <meta name="viewport" content="width=1185, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= admin_toolbar(@page,current_admin) if current_admin -%>

    <%= render :partial => 'layouts/header' %>

    <%= render :partial => 'layouts/primary_nav' %>

    <div id="content_wrapper">
      <% begin %>
        <%= render :partial => "layouts/#{@page.ptype.underscore}" %>
      <% rescue %>
        <%= render :partial => "layouts/page" %>
      <% end %>
    </div>

    <%= render :partial => 'layouts/footer' %>
  </body>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

</html>
