<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= defined?(::ORGANIZATION) ? ::ORGANIZATION : "" %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render :partial => 'layouts/header' %>

    <div id="content_wrapper">
      <%= yield :missing %>
    </div>

    <%= render :partial => 'layouts/footer' %>
  </body>
</html>

